.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}
#name{
    position: absolute;
    width: 320px;
    height: 39px;
    left: 30px;
    top: 35px;
    background: #FFFFFF;
    border-radius: 8px;
}
#price{
    position: absolute;
width: 320px;
height: 39px;
left: 400px;
top: 35px;

background: #FFFFFF;
border-radius: 8px;
}
#date{
    position: absolute;
    width: 320px;
    height: 39px;
    left: 30px;
    top: 140px;
    
    background: #FFFFFF;
    border-radius: 8px;
}